<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SSHMC01Entities" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.192.161.2;initial catalog=SSHMC01;persist security info=True;user id=david;password=ufjl0683@;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SSHMC01Entities1" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.192.161.2;initial catalog=SSHMC01;persist security info=True;user id=david;password=ufjl0683@;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
