<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="2.0.3" targetFramework="win" />
  <package id="jQuery.UI.Combined" version="1.10.3" targetFramework="win" />
  <package id="WinRT-DatePicker" version="1.1" targetFramework="win" />
  <package id="winrtxamltoolkit" version="1.5.3.0" targetFramework="win" />
  <package id="WinRTXamlToolkit.Controls.Calendar" version="1.5.3.0" targetFramework="win" />
  <package id="WinRTXamlToolkit.Controls.DataVisualization" version="1.5.3.0" targetFramework="win" />
</packages>