<?xml version="1.0"?>
<ControllerConfigBase xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <controller_id>100</controller_id>
  <listen_port>1002</listen_port>
  <sensors>
    <SensorConfigBase>
      <id>0</id>
      <device_name>光復樓_Tilt3</device_name>
      <com_type>TCP</com_type>
      <ip_comport>192.168.168.41</ip_comport>
      <port_baud>6000</port_baud>
      <execution_mode>0</execution_mode>
      <sensor_values>
        <SensorValueConfigBase>
          <id>0</id>
          <desc>TiltX</desc>
          <offset>0</offset>
          <coefficient>1</coefficient>
          <SIGMA>0.00287</SIGMA>
          <INITMEAN>-0.99069</INITMEAN>
          <MeanThreshold1>0.047746</MeanThreshold1>
          <MeanThreshold2>0.095492</MeanThreshold2>
          <MeanThreshold3>0.14323799999999998</MeanThreshold3>
          <ConvertFormula>{0}-1.07265e-5*{2}*{2}*{2}+4.716004e-4*{2}*{2}-5.229879e-3*{2}+1.43984e-3</ConvertFormula>
        </SensorValueConfigBase>
        <SensorValueConfigBase>
          <id>1</id>
          <desc>TiltY</desc>
          <offset>0</offset>
          <coefficient>1</coefficient>
          <SIGMA>0.00164</SIGMA>
          <INITMEAN>2.43117</INITMEAN>
          <MeanThreshold1>0.047746</MeanThreshold1>
          <MeanThreshold2>0.095492</MeanThreshold2>
          <MeanThreshold3>0.14323799999999998</MeanThreshold3>
          <ConvertFormula>{1}-2.444177e-6*{2}*{2}*{2}+8.700718e-5*{2}*{2}-6.872665e-4*{2}-2.852619e-4</ConvertFormula>
        </SensorValueConfigBase>
        <SensorValueConfigBase>
          <id>2</id>
          <desc>TEMPERATURE1</desc>
          <offset>0</offset>
          <coefficient>1</coefficient>
          <SIGMA>5</SIGMA>
          <INITMEAN>20</INITMEAN>
          <MeanThreshold1>5</MeanThreshold1>
          <MeanThreshold2>5</MeanThreshold2>
          <MeanThreshold3>5</MeanThreshold3>
          <ConvertFormula>{2}</ConvertFormula>
        </SensorValueConfigBase>
      </sensor_values>
    </SensorConfigBase>
    <SensorConfigBase>
      <id>1</id>
      <device_name>光復樓_Tilt4</device_name>
      <com_type>TCP</com_type>
      <ip_comport>192.168.168.42</ip_comport>
      <port_baud>6000</port_baud>
      <execution_mode>0</execution_mode>
      <sensor_values>
        <SensorValueConfigBase>
          <id>0</id>
          <desc>TiltX</desc>
          <offset>0</offset>
          <coefficient>1</coefficient>
          <SIGMA>0.00253</SIGMA>
          <INITMEAN>-1.35216</INITMEAN>
          <MeanThreshold1>0.047746</MeanThreshold1>
          <MeanThreshold2>0.095492</MeanThreshold2>
          <MeanThreshold3>0.14323799999999998</MeanThreshold3>
          <ConvertFormula>{0}-1.22477e-5*{2}*{2}*{2}+5.439326e-4*{2}*{2}-4.215722e-3*{2}-4.152337e-2</ConvertFormula>
        </SensorValueConfigBase>
        <SensorValueConfigBase>
          <id>1</id>
          <desc>TiltY</desc>
          <offset>0</offset>
          <coefficient>1</coefficient>
          <SIGMA>0.00304</SIGMA>
          <INITMEAN>2.24879</INITMEAN>
          <MeanThreshold1>0.047746</MeanThreshold1>
          <MeanThreshold2>0.095492</MeanThreshold2>
          <MeanThreshold3>0.14323799999999998</MeanThreshold3>
          <ConvertFormula>{1}-6.620486e-6*{2}*{2}*{2}+2.742021e-4*{2}*{2}-1.552977e-3*{2}-2.81586e-2</ConvertFormula>
        </SensorValueConfigBase>
        <SensorValueConfigBase>
          <id>2</id>
          <desc>TEMPERATURE1</desc>
          <offset>0</offset>
          <coefficient>1</coefficient>
          <SIGMA>5</SIGMA>
          <INITMEAN>20</INITMEAN>
          <MeanThreshold1>5</MeanThreshold1>
          <MeanThreshold2>5</MeanThreshold2>
          <MeanThreshold3>5</MeanThreshold3>
          <ConvertFormula>{2}</ConvertFormula>
        </SensorValueConfigBase>
      </sensor_values>
    </SensorConfigBase>
  </sensors>
  <device_type>TILT</device_type>
  <version_no>1</version_no>
  <build_date>2011-10-21T19:35:00</build_date>
</ControllerConfigBase>