<?xml version="1.0"?>
<GPSControllerConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <controller_id>100</controller_id>
  <listen_port>1001</listen_port>
  <device_type>GPS</device_type> 
  <version_no>0</version_no> 
  <build_date>2012-06-07T18:24:29.7081104+08:00</build_date>
  <ref_gps>
    <id>0</id>
    <device_name>b3</device_name>
    <com_type>TCP</com_type>
    <ip_comport>192.168.168.18</ip_comport>
    <port_baud>6000</port_baud>
    <execution_mode>0</execution_mode>
    <!--<refx>-3026880.2143</refx>
    <refy>4928958.82</refy>
    <refz>2679011.231</refz>-->
    <refx>-3026901.407</refx>
    <refy>4928952.308</refy>
    <refz>2678900.582</refz>
    <is_reference>true</is_reference>
  </ref_gps>
  <sensors>
    <!--<SensorConfigBase  xsi:type="GPSSensorConfig">
      <device_name>b2</device_name>
      <id>0</id>
      <desc>reference</desc>
      <offset>0</offset>
      <coefficient>1</coefficient>
      <com_type>TCP</com_type>
      <ip_comport>192.168.168.125</ip_comport>
      <port_baud>6000</port_baud>
      <execution_mode>0</execution_mode>
      --><!--<refx>-3026901.407</refx>
    <refy>4928952.308</refy>
    <refz>2678900.582</refz>--><!--
      <refx>-3026880.2143</refx>
      <refy>4928958.82</refy>
      <refz>2679011.231</refz>
      <is_reference>false</is_reference>
      <sensor_values>
        <SensorValueConfigBase>
          <id>0</id>
          <desc>X</desc>
          <offset>0</offset>
          <coefficient>1</coefficient>
          <rules>
            <SensorValueRuleConfigBase>
              <level>1</level>
              <hour_ma>1</hour_ma>
              <lower_limit>1</lower_limit>
              <upper_limit>1</upper_limit>
               
              <left_hour_ma1>1</left_hour_ma1>
              <right_hour_ma1>2</right_hour_ma1>
              <left_hour_ma2>1</left_hour_ma2>
              <right_hour_ma2>3</right_hour_ma2>
            </SensorValueRuleConfigBase>
            <SensorValueRuleConfigBase>
              <level>2</level>
              <hour_ma>1</hour_ma>
              <lower_limit>1</lower_limit>
              <upper_limit>1</upper_limit>
              <left_hour_ma1>1</left_hour_ma1>
              <right_hour_ma1>2</right_hour_ma1>
              <left_hour_ma2>1</left_hour_ma2>
              <right_hour_ma2>3</right_hour_ma2>
            </SensorValueRuleConfigBase>
            <SensorValueRuleConfigBase>
              <level>3</level>
              <hour_ma>1</hour_ma>
              <lower_limit>1</lower_limit>
              <upper_limit>1</upper_limit>
              <left_hour_ma1>1</left_hour_ma1>
              <right_hour_ma1>2</right_hour_ma1>
              <left_hour_ma2>1</left_hour_ma2>
              <right_hour_ma2>3</right_hour_ma2>
            </SensorValueRuleConfigBase>
          </rules>
        </SensorValueConfigBase>
        <SensorValueConfigBase>
          <id>1</id>
          <desc>Y</desc>
          <offset>0</offset>
          <coefficient>1</coefficient>
          <rules>
            <SensorValueRuleConfigBase>
              <level>1</level>
              <hour_ma>1</hour_ma>
              <lower_limit>1</lower_limit>
              <upper_limit>1</upper_limit>
              <left_hour_ma1>1</left_hour_ma1>
              <right_hour_ma1>2</right_hour_ma1>
              <left_hour_ma2>1</left_hour_ma2>
              <right_hour_ma2>3</right_hour_ma2>
            </SensorValueRuleConfigBase>
            <SensorValueRuleConfigBase>
              <level>2</level>
              <hour_ma>1</hour_ma>
              <lower_limit>1</lower_limit>
              <upper_limit>1</upper_limit>
              <left_hour_ma1>1</left_hour_ma1>
              <right_hour_ma1>2</right_hour_ma1>
              <left_hour_ma2>1</left_hour_ma2>
              <right_hour_ma2>3</right_hour_ma2>
            </SensorValueRuleConfigBase>
            <SensorValueRuleConfigBase>
              <level>3</level>
              <hour_ma>1</hour_ma>
              <lower_limit>1</lower_limit>
              <upper_limit>1</upper_limit>
              <left_hour_ma1>1</left_hour_ma1>
              <right_hour_ma1>2</right_hour_ma1>
              <left_hour_ma2>1</left_hour_ma2>
              <right_hour_ma2>3</right_hour_ma2>
            </SensorValueRuleConfigBase>
          </rules>


        </SensorValueConfigBase>
        <SensorValueConfigBase>
          <id>1</id>
          <desc>Z</desc>
          <offset>0</offset>
          <coefficient>1</coefficient>
          <rules>
            <SensorValueRuleConfigBase>
              <level>1</level>
              <hour_ma>1</hour_ma>
              <lower_limit>1</lower_limit>
              <upper_limit>1</upper_limit>
              <left_hour_ma1>1</left_hour_ma1>
              <right_hour_ma1>2</right_hour_ma1>
              <left_hour_ma2>1</left_hour_ma2>
              <right_hour_ma2>3</right_hour_ma2>
            </SensorValueRuleConfigBase>
            <SensorValueRuleConfigBase>
              <level>2</level>
              <hour_ma>1</hour_ma>
              <lower_limit>1</lower_limit>
              <upper_limit>1</upper_limit>
              <left_hour_ma1>1</left_hour_ma1>
              <right_hour_ma1>2</right_hour_ma1>
              <left_hour_ma2>1</left_hour_ma2>
              <right_hour_ma2>3</right_hour_ma2>
            </SensorValueRuleConfigBase>
            <SensorValueRuleConfigBase>
              <level>3</level>
              <hour_ma>1</hour_ma>
              <lower_limit>1</lower_limit>
              <upper_limit>1</upper_limit>
              <left_hour_ma1>1</left_hour_ma1>
              <right_hour_ma1>2</right_hour_ma1>
              <left_hour_ma2>1</left_hour_ma2>
              <right_hour_ma2>3</right_hour_ma2>
            </SensorValueRuleConfigBase>
          </rules>


        </SensorValueConfigBase>
      </sensor_values>




    </SensorConfigBase>-->
  </sensors>

</GPSControllerConfig>